/* work sans front from google front */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/* common shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
/* nav styles */
nav{
    background: #fff;
    display: flex;
    justify-content: space-around;
}

.nav ul{
    display: flex;
    
}

.nav li{
    list-style: none;
    padding: 0 20px;


}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;

}
.logo-container img{
    width:86.041px;
    margin-right: 20px;
    
}
.logo-container p{
    font-size: 45px;
}
.gamer-section{
    color: palevioletred;
}

.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color:#3C354F;

}
.nav-item-container a{
    text-decoration: none;
}
/* banner styles */
.banner{
    padding: 30px 30px 0px 100px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner .banner-img{
    width: 500px;
}
.banner-title{
 color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}

.banner-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.banner-click{
    color: #534C64;
   font-size: 20px;
   font-weight: 500;
   text-transform: lowercase;
 }
 .banner-down{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-game{
    color: #534C64;
   font-size: 20px;
   font-weight: 500;

}
.btn-in{
    border-radius: 48px;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
   gap: 10px;
   color: #FFFf;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 600;
  text-transform: uppercase;
}
.btn-go{
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
/* main styles */


.card-title{
    text-align: center;
}
.online-game{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.online{
    width: 80%;
    margin: 0 auto;
}

.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-desk{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
/* line-height: 30px;  */
}


.online-img{
    /* margin: 50px; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.card{
    width: 260px;
}
.img{
    width: 100%;
}


