/* mobile responsive style */
@media screen and (max-width:400px){
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container{
        margin-top: 20px;
    }
}
/* tablet responsive style */
